body {
    background-color: Black;
    text-align: center;
}

H1 {
    color: PapayaWhip;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Franklin Gothic Heavy";
}

H2 {
    color: PapayaWhip;
    text-align: center;
    text-transform: uppercase;
    font-family: "Franklin Gothic Heavy";
}

P {
    color: FloralWhite;
    text-align: left;
    font-family: Arial;
}

UL {
    color: FloralWhite;
    text-align: left;
    font-family: Arial;
    list-style-type: square;
}

table {
    border-color: PapayaWhip;
    border-style: dashed;
    text-align: center;
    font-size: large;
    font-family: Arial;
    color: FloralWhite;
    background-size: contain;
    position: center;
}

td, th {
    border-color: PapayaWhip;
    border-style: solid;
    border-width: thin;
}

IMG {
    border-width: 1px;
    border-color: PapayaWhip;
    border-style: inset;
    position: center;
}

Form {
    color: FloralWhite;
    text-align: left;
    font-family: Arial;
}

A:link {
    color: FloralWhite;
    font-family: Arial;
    font-size: large;
    text-decoration: none;
}

A:visited {
    color: FloralWhite;
    font-family: Arial;
}

A:hover {
    color: FloralWhite;
    font-family: Arial;
}

A:active {
    color: FloralWhite;
    font-family: Arial;
}

DL {
    color: FloralWhite;
    text-align: left;
    font-family: Arial;
}

OL {
    color: FloralWhite;
    text-align: left;
    font-family: Arial;
    list-style-type: upper-roman;
}
